/* 1 */
/* .parent {
	width: 300px;
	height: 100px;
	background-color: orange;
}
.child {
	height: 60px;
	background-color:  royalblue;
} */

/* 2. margin */
/* .container .item {
	width: 100px;
	height: 100px;
	background-color: orange;
	margin: 10px;
} */

/* 3. padding */
/* .container .item:first-child {
	padding: 20px;
} */

/* 4. border */
/* .container .item:nth-child(2) {
	border: 5px solid red;
} */

/* 5. border-radius */
/* .container .item:nth-child(3) {
	border-radius: 20px;
} */

/* 6. box-sizing */
/* .container .item:nth-child(1) {
	box-sizing: border-box;
}
.container .item:nth-child(2) {
	box-sizing: border-box;
} */

/* 7. overflow: hidden, scroll, auto */
/* .parent {
	width: 200px;
	height: 150px;
	background-color: orange;
	margin: 20px;
	overflow: visible;
}
.child {
	width: 300px;
	height: 100px;
	background-color: royalblue;
} */

/* 8. display */
/* #display {
	display: none;
	width: 120px;
	height: 50px;
	background-color: lightcoral;
	color: white;
} */

/* 9. opacity */
/* .parent {
	width: 200px;
	height: 150px;
	background-color: orange;
	margin: 20px;
	overflow: visible;
}
.child {
	width: 300px;
	height: 100px;
	background-color: royalblue;
	opacity: 0.3;
} */
